<script src="/assets/js/main.js"></script>

<header id="site-header">
    
    <section class="bigheader image-as-background" style="background-image: url('/assets/images/project1.jpg');")>
        <div class="bigheader-container">
            <p class="animate fadeInLeft delay-400">Adrián Morales.</p>
            <h1 class="bigheader-title animate fadeInLeft delay-600">Personal Website.</h1>
            <!-- <a href="#" class="bigheader-button animate fadeInLeft delay-800" title="Click to see more">Click Me</a> -->
            <!--
            <p class="bigheader-content">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            -->
        </div>
    </section>
    <!--
    <section class="main-content">
        <h2> This is the additional content</h2>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </section>
    -->
    <!--
    <div class="header-inner">
    
        <h1 class="site-title">{{ page.title }}</h1>
        {% include nav.html %}
    </div>
    -->
</header>
